<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remind.me.firebaseapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- android:name=".fire" -->
    <application
        android:name=".fire"
        android:allowBackup="true"
        android:icon="@drawable/reminder"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RM_Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RM_SignUp"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".RM_MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.app.Searchable"
            android:resource="@layout/searchable" />

        <activity android:name=".SettingProfile"
            android:label="@string/title_user_profile"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".FavoriatPost" />

        <activity android:name=".SharePost" />

    </application>

</manifest>